TermProject/Web References/WS/TermProjectWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Register">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterResponse">
        <s:complexType />
      </s:element>
      <s:element name="UsernameExist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UsernameExistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UsernameExistResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PasswordMatch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PasswordMatchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PasswordMatchResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetUserIDResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectUserType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securityCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectUserTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectUserTypeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RegisterSoapIn">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="RegisterSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="UsernameExistSoapIn">
    <wsdl:part name="parameters" element="tns:UsernameExist" />
  </wsdl:message>
  <wsdl:message name="UsernameExistSoapOut">
    <wsdl:part name="parameters" element="tns:UsernameExistResponse" />
  </wsdl:message>
  <wsdl:message name="PasswordMatchSoapIn">
    <wsdl:part name="parameters" element="tns:PasswordMatch" />
  </wsdl:message>
  <wsdl:message name="PasswordMatchSoapOut">
    <wsdl:part name="parameters" element="tns:PasswordMatchResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserName" />
  </wsdl:message>
  <wsdl:message name="GetUserNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserID" />
  </wsdl:message>
  <wsdl:message name="GetUserIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserIDResponse" />
  </wsdl:message>
  <wsdl:message name="SelectUserTypeSoapIn">
    <wsdl:part name="parameters" element="tns:SelectUserType" />
  </wsdl:message>
  <wsdl:message name="SelectUserTypeSoapOut">
    <wsdl:part name="parameters" element="tns:SelectUserTypeResponse" />
  </wsdl:message>
  <wsdl:portType name="TermProjectWSSoap">
    <wsdl:operation name="Register">
      <wsdl:input message="tns:RegisterSoapIn" />
      <wsdl:output message="tns:RegisterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UsernameExist">
      <wsdl:input message="tns:UsernameExistSoapIn" />
      <wsdl:output message="tns:UsernameExistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PasswordMatch">
      <wsdl:input message="tns:PasswordMatchSoapIn" />
      <wsdl:output message="tns:PasswordMatchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserName">
      <wsdl:input message="tns:GetUserNameSoapIn" />
      <wsdl:output message="tns:GetUserNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserID">
      <wsdl:input message="tns:GetUserIDSoapIn" />
      <wsdl:output message="tns:GetUserIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectUserType">
      <wsdl:input message="tns:SelectUserTypeSoapIn" />
      <wsdl:output message="tns:SelectUserTypeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TermProjectWSSoap" type="tns:TermProjectWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UsernameExist">
      <soap:operation soapAction="http://tempuri.org/UsernameExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PasswordMatch">
      <soap:operation soapAction="http://tempuri.org/PasswordMatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserName">
      <soap:operation soapAction="http://tempuri.org/GetUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserID">
      <soap:operation soapAction="http://tempuri.org/GetUserID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectUserType">
      <soap:operation soapAction="http://tempuri.org/SelectUserType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TermProjectWSSoap12" type="tns:TermProjectWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Register">
      <soap12:operation soapAction="http://tempuri.org/Register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UsernameExist">
      <soap12:operation soapAction="http://tempuri.org/UsernameExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PasswordMatch">
      <soap12:operation soapAction="http://tempuri.org/PasswordMatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserName">
      <soap12:operation soapAction="http://tempuri.org/GetUserName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserID">
      <soap12:operation soapAction="http://tempuri.org/GetUserID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectUserType">
      <soap12:operation soapAction="http://tempuri.org/SelectUserType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TermProjectWS">
    <wsdl:port name="TermProjectWSSoap" binding="tns:TermProjectWSSoap">
      <soap:address location="http://localhost:6499/TermProjectWS.asmx" />
    </wsdl:port>
    <wsdl:port name="TermProjectWSSoap12" binding="tns:TermProjectWSSoap12">
      <soap12:address location="http://localhost:6499/TermProjectWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>