TermProject/Web References/CloudWS/CloudService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Register">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="storage" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegisterResponse">
        <s:complexType />
      </s:element>
      <s:element name="UsernameExist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UsernameExistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UsernameExistResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PasswordMatch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PasswordMatchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PasswordMatchResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetUserIDResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectUserType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securityCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectUserTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectUserTypeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securityCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="content" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="extn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveFileResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securityCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFileResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileByUserName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securityCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileByUserNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFileByUserNameResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSingleFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securityCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="content" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="extn" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSingleFileResponse">
        <s:complexType />
      </s:element>
      <s:element name="TPGetUserID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securityCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TPGetUserIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TPGetUserIDResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securityCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAccountResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securityCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteAccountResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateStorageCap">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securityCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="storagecap" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateStorageCapResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securityCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserResponse">
        <s:complexType />
      </s:element>
      <s:element name="Register2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securityCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="storagecap" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Register2Response">
        <s:complexType />
      </s:element>
      <s:element name="UsernameExist2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securityCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UsernameExist2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UsernameExist2Result" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securityCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserNameResponse">
        <s:complexType />
      </s:element>
      <s:element name="UpdateUserEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securityCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserEmailResponse">
        <s:complexType />
      </s:element>
      <s:element name="ChangePassword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securityCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangePasswordResponse">
        <s:complexType />
      </s:element>
      <s:element name="Getfiles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securitycode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetfilesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetfilesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCap">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securitycode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="size" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateCapResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetFilesByUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securitycode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFilesByUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFilesByUserResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFilesRestoreByUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securitycode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFilesRestoreByUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFilesRestoreByUserResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectRowByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securityCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectRowByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectRowByIDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectRowByIDFromBin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securityCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectRowByIDFromBinResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectRowByIDFromBinResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteRowByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securitycode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteRowByIDResponse">
        <s:complexType />
      </s:element>
      <s:element name="DeleteRowByIDFromBin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securitycode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteRowByIDFromBinResponse">
        <s:complexType />
      </s:element>
      <s:element name="InsertIntoBin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securitycode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="content" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="extn" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="size" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertIntoBinResponse">
        <s:complexType />
      </s:element>
      <s:element name="InsertIntoTPFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securitycode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="content" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="extn" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="size" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertIntoTPFileResponse">
        <s:complexType />
      </s:element>
      <s:element name="SelectAllFromBin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securityCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectAllFromBinResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectAllFromBinResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertTransaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securityCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cardType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="number" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="expDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="pin" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="transDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertTransactionResponse">
        <s:complexType />
      </s:element>
      <s:element name="ShowCusTransaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securityCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShowCusTransactionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShowCusTransactionResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserIDExist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securityCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="userID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserIDExistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UserIDExistResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllAccounts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securityCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllAccountsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllAccountsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securityCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="userID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAccountByIDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securityCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="userID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="status" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateStatusResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetUserNameByID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securityCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="userID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserNameByIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserNameByIDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UsernameExistInFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securityCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UsernameExistInFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UsernameExistInFileResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AdminLog">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securityCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AdminLogResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetAllAdminAccounts">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securityCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllAdminAccountsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllAdminAccountsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAdminLogs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securitycode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAdminLogsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAdminLogsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UsernameExistInAdminLog">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securityCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UsernameExistInAdminLogResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UsernameExistInAdminLogResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnterQuestion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securityCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="question" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnterQuestionResponse">
        <s:complexType />
      </s:element>
      <s:element name="EnterAnswer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securityCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="admin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="answer" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="date" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnterAnswerResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetQA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securitycode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetQAResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RegisterSoapIn">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="RegisterSoapOut">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="UsernameExistSoapIn">
    <wsdl:part name="parameters" element="tns:UsernameExist" />
  </wsdl:message>
  <wsdl:message name="UsernameExistSoapOut">
    <wsdl:part name="parameters" element="tns:UsernameExistResponse" />
  </wsdl:message>
  <wsdl:message name="PasswordMatchSoapIn">
    <wsdl:part name="parameters" element="tns:PasswordMatch" />
  </wsdl:message>
  <wsdl:message name="PasswordMatchSoapOut">
    <wsdl:part name="parameters" element="tns:PasswordMatchResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserName" />
  </wsdl:message>
  <wsdl:message name="GetUserNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserID" />
  </wsdl:message>
  <wsdl:message name="GetUserIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserIDResponse" />
  </wsdl:message>
  <wsdl:message name="SelectUserTypeSoapIn">
    <wsdl:part name="parameters" element="tns:SelectUserType" />
  </wsdl:message>
  <wsdl:message name="SelectUserTypeSoapOut">
    <wsdl:part name="parameters" element="tns:SelectUserTypeResponse" />
  </wsdl:message>
  <wsdl:message name="SaveFileSoapIn">
    <wsdl:part name="parameters" element="tns:SaveFile" />
  </wsdl:message>
  <wsdl:message name="SaveFileSoapOut">
    <wsdl:part name="parameters" element="tns:SaveFileResponse" />
  </wsdl:message>
  <wsdl:message name="GetFileSoapIn">
    <wsdl:part name="parameters" element="tns:GetFile" />
  </wsdl:message>
  <wsdl:message name="GetFileSoapOut">
    <wsdl:part name="parameters" element="tns:GetFileResponse" />
  </wsdl:message>
  <wsdl:message name="GetFileByUserNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetFileByUserName" />
  </wsdl:message>
  <wsdl:message name="GetFileByUserNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetFileByUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetSingleFileSoapIn">
    <wsdl:part name="parameters" element="tns:GetSingleFile" />
  </wsdl:message>
  <wsdl:message name="GetSingleFileSoapOut">
    <wsdl:part name="parameters" element="tns:GetSingleFileResponse" />
  </wsdl:message>
  <wsdl:message name="TPGetUserIDSoapIn">
    <wsdl:part name="parameters" element="tns:TPGetUserID" />
  </wsdl:message>
  <wsdl:message name="TPGetUserIDSoapOut">
    <wsdl:part name="parameters" element="tns:TPGetUserIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetAccountSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccount" />
  </wsdl:message>
  <wsdl:message name="GetAccountSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccountResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteAccountSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteAccount" />
  </wsdl:message>
  <wsdl:message name="DeleteAccountSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteAccountResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateStorageCapSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateStorageCap" />
  </wsdl:message>
  <wsdl:message name="UpdateStorageCapSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateStorageCapResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUserSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="UpdateUserSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="Register2SoapIn">
    <wsdl:part name="parameters" element="tns:Register2" />
  </wsdl:message>
  <wsdl:message name="Register2SoapOut">
    <wsdl:part name="parameters" element="tns:Register2Response" />
  </wsdl:message>
  <wsdl:message name="UsernameExist2SoapIn">
    <wsdl:part name="parameters" element="tns:UsernameExist2" />
  </wsdl:message>
  <wsdl:message name="UsernameExist2SoapOut">
    <wsdl:part name="parameters" element="tns:UsernameExist2Response" />
  </wsdl:message>
  <wsdl:message name="UpdateUserNameSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUserName" />
  </wsdl:message>
  <wsdl:message name="UpdateUserNameSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUserNameResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUserEmailSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUserEmail" />
  </wsdl:message>
  <wsdl:message name="UpdateUserEmailSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUserEmailResponse" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapIn">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="ChangePasswordSoapOut">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="GetfilesSoapIn">
    <wsdl:part name="parameters" element="tns:Getfiles" />
  </wsdl:message>
  <wsdl:message name="GetfilesSoapOut">
    <wsdl:part name="parameters" element="tns:GetfilesResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateCapSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateCap" />
  </wsdl:message>
  <wsdl:message name="UpdateCapSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateCapResponse" />
  </wsdl:message>
  <wsdl:message name="GetFilesByUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetFilesByUser" />
  </wsdl:message>
  <wsdl:message name="GetFilesByUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetFilesByUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetFilesRestoreByUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetFilesRestoreByUser" />
  </wsdl:message>
  <wsdl:message name="GetFilesRestoreByUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetFilesRestoreByUserResponse" />
  </wsdl:message>
  <wsdl:message name="SelectRowByIDSoapIn">
    <wsdl:part name="parameters" element="tns:SelectRowByID" />
  </wsdl:message>
  <wsdl:message name="SelectRowByIDSoapOut">
    <wsdl:part name="parameters" element="tns:SelectRowByIDResponse" />
  </wsdl:message>
  <wsdl:message name="SelectRowByIDFromBinSoapIn">
    <wsdl:part name="parameters" element="tns:SelectRowByIDFromBin" />
  </wsdl:message>
  <wsdl:message name="SelectRowByIDFromBinSoapOut">
    <wsdl:part name="parameters" element="tns:SelectRowByIDFromBinResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteRowByIDSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteRowByID" />
  </wsdl:message>
  <wsdl:message name="DeleteRowByIDSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteRowByIDResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteRowByIDFromBinSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteRowByIDFromBin" />
  </wsdl:message>
  <wsdl:message name="DeleteRowByIDFromBinSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteRowByIDFromBinResponse" />
  </wsdl:message>
  <wsdl:message name="InsertIntoBinSoapIn">
    <wsdl:part name="parameters" element="tns:InsertIntoBin" />
  </wsdl:message>
  <wsdl:message name="InsertIntoBinSoapOut">
    <wsdl:part name="parameters" element="tns:InsertIntoBinResponse" />
  </wsdl:message>
  <wsdl:message name="InsertIntoTPFileSoapIn">
    <wsdl:part name="parameters" element="tns:InsertIntoTPFile" />
  </wsdl:message>
  <wsdl:message name="InsertIntoTPFileSoapOut">
    <wsdl:part name="parameters" element="tns:InsertIntoTPFileResponse" />
  </wsdl:message>
  <wsdl:message name="SelectAllFromBinSoapIn">
    <wsdl:part name="parameters" element="tns:SelectAllFromBin" />
  </wsdl:message>
  <wsdl:message name="SelectAllFromBinSoapOut">
    <wsdl:part name="parameters" element="tns:SelectAllFromBinResponse" />
  </wsdl:message>
  <wsdl:message name="InsertTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:InsertTransaction" />
  </wsdl:message>
  <wsdl:message name="InsertTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:InsertTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="ShowCusTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:ShowCusTransaction" />
  </wsdl:message>
  <wsdl:message name="ShowCusTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:ShowCusTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="UserIDExistSoapIn">
    <wsdl:part name="parameters" element="tns:UserIDExist" />
  </wsdl:message>
  <wsdl:message name="UserIDExistSoapOut">
    <wsdl:part name="parameters" element="tns:UserIDExistResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllAccountsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllAccounts" />
  </wsdl:message>
  <wsdl:message name="GetAllAccountsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllAccountsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAccountByIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccountByID" />
  </wsdl:message>
  <wsdl:message name="GetAccountByIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccountByIDResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateStatusSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateStatus" />
  </wsdl:message>
  <wsdl:message name="UpdateStatusSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserNameByIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetUserNameByID" />
  </wsdl:message>
  <wsdl:message name="GetUserNameByIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserNameByIDResponse" />
  </wsdl:message>
  <wsdl:message name="UsernameExistInFileSoapIn">
    <wsdl:part name="parameters" element="tns:UsernameExistInFile" />
  </wsdl:message>
  <wsdl:message name="UsernameExistInFileSoapOut">
    <wsdl:part name="parameters" element="tns:UsernameExistInFileResponse" />
  </wsdl:message>
  <wsdl:message name="AdminLogSoapIn">
    <wsdl:part name="parameters" element="tns:AdminLog" />
  </wsdl:message>
  <wsdl:message name="AdminLogSoapOut">
    <wsdl:part name="parameters" element="tns:AdminLogResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllAdminAccountsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllAdminAccounts" />
  </wsdl:message>
  <wsdl:message name="GetAllAdminAccountsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllAdminAccountsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAdminLogsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAdminLogs" />
  </wsdl:message>
  <wsdl:message name="GetAdminLogsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAdminLogsResponse" />
  </wsdl:message>
  <wsdl:message name="UsernameExistInAdminLogSoapIn">
    <wsdl:part name="parameters" element="tns:UsernameExistInAdminLog" />
  </wsdl:message>
  <wsdl:message name="UsernameExistInAdminLogSoapOut">
    <wsdl:part name="parameters" element="tns:UsernameExistInAdminLogResponse" />
  </wsdl:message>
  <wsdl:message name="EnterQuestionSoapIn">
    <wsdl:part name="parameters" element="tns:EnterQuestion" />
  </wsdl:message>
  <wsdl:message name="EnterQuestionSoapOut">
    <wsdl:part name="parameters" element="tns:EnterQuestionResponse" />
  </wsdl:message>
  <wsdl:message name="EnterAnswerSoapIn">
    <wsdl:part name="parameters" element="tns:EnterAnswer" />
  </wsdl:message>
  <wsdl:message name="EnterAnswerSoapOut">
    <wsdl:part name="parameters" element="tns:EnterAnswerResponse" />
  </wsdl:message>
  <wsdl:message name="GetQASoapIn">
    <wsdl:part name="parameters" element="tns:GetQA" />
  </wsdl:message>
  <wsdl:message name="GetQASoapOut">
    <wsdl:part name="parameters" element="tns:GetQAResponse" />
  </wsdl:message>
  <wsdl:portType name="CloudServiceSoap">
    <wsdl:operation name="Register">
      <wsdl:input message="tns:RegisterSoapIn" />
      <wsdl:output message="tns:RegisterSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UsernameExist">
      <wsdl:input message="tns:UsernameExistSoapIn" />
      <wsdl:output message="tns:UsernameExistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PasswordMatch">
      <wsdl:input message="tns:PasswordMatchSoapIn" />
      <wsdl:output message="tns:PasswordMatchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserName">
      <wsdl:input message="tns:GetUserNameSoapIn" />
      <wsdl:output message="tns:GetUserNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserID">
      <wsdl:input message="tns:GetUserIDSoapIn" />
      <wsdl:output message="tns:GetUserIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectUserType">
      <wsdl:input message="tns:SelectUserTypeSoapIn" />
      <wsdl:output message="tns:SelectUserTypeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveFile">
      <wsdl:input message="tns:SaveFileSoapIn" />
      <wsdl:output message="tns:SaveFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFile">
      <wsdl:input message="tns:GetFileSoapIn" />
      <wsdl:output message="tns:GetFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFileByUserName">
      <wsdl:input message="tns:GetFileByUserNameSoapIn" />
      <wsdl:output message="tns:GetFileByUserNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSingleFile">
      <wsdl:input message="tns:GetSingleFileSoapIn" />
      <wsdl:output message="tns:GetSingleFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TPGetUserID">
      <wsdl:input message="tns:TPGetUserIDSoapIn" />
      <wsdl:output message="tns:TPGetUserIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAccount">
      <wsdl:input message="tns:GetAccountSoapIn" />
      <wsdl:output message="tns:GetAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAccount">
      <wsdl:input message="tns:DeleteAccountSoapIn" />
      <wsdl:output message="tns:DeleteAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStorageCap">
      <wsdl:input message="tns:UpdateStorageCapSoapIn" />
      <wsdl:output message="tns:UpdateStorageCapSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input message="tns:UpdateUserSoapIn" />
      <wsdl:output message="tns:UpdateUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Register2">
      <wsdl:input message="tns:Register2SoapIn" />
      <wsdl:output message="tns:Register2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UsernameExist2">
      <wsdl:input message="tns:UsernameExist2SoapIn" />
      <wsdl:output message="tns:UsernameExist2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserName">
      <wsdl:input message="tns:UpdateUserNameSoapIn" />
      <wsdl:output message="tns:UpdateUserNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserEmail">
      <wsdl:input message="tns:UpdateUserEmailSoapIn" />
      <wsdl:output message="tns:UpdateUserEmailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input message="tns:ChangePasswordSoapIn" />
      <wsdl:output message="tns:ChangePasswordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Getfiles">
      <wsdl:input message="tns:GetfilesSoapIn" />
      <wsdl:output message="tns:GetfilesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCap">
      <wsdl:input message="tns:UpdateCapSoapIn" />
      <wsdl:output message="tns:UpdateCapSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFilesByUser">
      <wsdl:input message="tns:GetFilesByUserSoapIn" />
      <wsdl:output message="tns:GetFilesByUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFilesRestoreByUser">
      <wsdl:input message="tns:GetFilesRestoreByUserSoapIn" />
      <wsdl:output message="tns:GetFilesRestoreByUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectRowByID">
      <wsdl:input message="tns:SelectRowByIDSoapIn" />
      <wsdl:output message="tns:SelectRowByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectRowByIDFromBin">
      <wsdl:input message="tns:SelectRowByIDFromBinSoapIn" />
      <wsdl:output message="tns:SelectRowByIDFromBinSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRowByID">
      <wsdl:input message="tns:DeleteRowByIDSoapIn" />
      <wsdl:output message="tns:DeleteRowByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRowByIDFromBin">
      <wsdl:input message="tns:DeleteRowByIDFromBinSoapIn" />
      <wsdl:output message="tns:DeleteRowByIDFromBinSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertIntoBin">
      <wsdl:input message="tns:InsertIntoBinSoapIn" />
      <wsdl:output message="tns:InsertIntoBinSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertIntoTPFile">
      <wsdl:input message="tns:InsertIntoTPFileSoapIn" />
      <wsdl:output message="tns:InsertIntoTPFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectAllFromBin">
      <wsdl:input message="tns:SelectAllFromBinSoapIn" />
      <wsdl:output message="tns:SelectAllFromBinSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertTransaction">
      <wsdl:input message="tns:InsertTransactionSoapIn" />
      <wsdl:output message="tns:InsertTransactionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ShowCusTransaction">
      <wsdl:input message="tns:ShowCusTransactionSoapIn" />
      <wsdl:output message="tns:ShowCusTransactionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserIDExist">
      <wsdl:input message="tns:UserIDExistSoapIn" />
      <wsdl:output message="tns:UserIDExistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAccounts">
      <wsdl:input message="tns:GetAllAccountsSoapIn" />
      <wsdl:output message="tns:GetAllAccountsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountByID">
      <wsdl:input message="tns:GetAccountByIDSoapIn" />
      <wsdl:output message="tns:GetAccountByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStatus">
      <wsdl:input message="tns:UpdateStatusSoapIn" />
      <wsdl:output message="tns:UpdateStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUserNameByID">
      <wsdl:input message="tns:GetUserNameByIDSoapIn" />
      <wsdl:output message="tns:GetUserNameByIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UsernameExistInFile">
      <wsdl:input message="tns:UsernameExistInFileSoapIn" />
      <wsdl:output message="tns:UsernameExistInFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AdminLog">
      <wsdl:input message="tns:AdminLogSoapIn" />
      <wsdl:output message="tns:AdminLogSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAdminAccounts">
      <wsdl:input message="tns:GetAllAdminAccountsSoapIn" />
      <wsdl:output message="tns:GetAllAdminAccountsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAdminLogs">
      <wsdl:input message="tns:GetAdminLogsSoapIn" />
      <wsdl:output message="tns:GetAdminLogsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UsernameExistInAdminLog">
      <wsdl:input message="tns:UsernameExistInAdminLogSoapIn" />
      <wsdl:output message="tns:UsernameExistInAdminLogSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnterQuestion">
      <wsdl:input message="tns:EnterQuestionSoapIn" />
      <wsdl:output message="tns:EnterQuestionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnterAnswer">
      <wsdl:input message="tns:EnterAnswerSoapIn" />
      <wsdl:output message="tns:EnterAnswerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetQA">
      <wsdl:input message="tns:GetQASoapIn" />
      <wsdl:output message="tns:GetQASoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CloudServiceSoap" type="tns:CloudServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UsernameExist">
      <soap:operation soapAction="http://tempuri.org/UsernameExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PasswordMatch">
      <soap:operation soapAction="http://tempuri.org/PasswordMatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserName">
      <soap:operation soapAction="http://tempuri.org/GetUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserID">
      <soap:operation soapAction="http://tempuri.org/GetUserID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectUserType">
      <soap:operation soapAction="http://tempuri.org/SelectUserType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveFile">
      <soap:operation soapAction="http://tempuri.org/SaveFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFile">
      <soap:operation soapAction="http://tempuri.org/GetFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileByUserName">
      <soap:operation soapAction="http://tempuri.org/GetFileByUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSingleFile">
      <soap:operation soapAction="http://tempuri.org/GetSingleFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TPGetUserID">
      <soap:operation soapAction="http://tempuri.org/TPGetUserID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccount">
      <soap:operation soapAction="http://tempuri.org/GetAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAccount">
      <soap:operation soapAction="http://tempuri.org/DeleteAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStorageCap">
      <soap:operation soapAction="http://tempuri.org/UpdateStorageCap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register2">
      <soap:operation soapAction="http://tempuri.org/Register2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UsernameExist2">
      <soap:operation soapAction="http://tempuri.org/UsernameExist2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserName">
      <soap:operation soapAction="http://tempuri.org/UpdateUserName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserEmail">
      <soap:operation soapAction="http://tempuri.org/UpdateUserEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Getfiles">
      <soap:operation soapAction="http://tempuri.org/Getfiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCap">
      <soap:operation soapAction="http://tempuri.org/UpdateCap" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilesByUser">
      <soap:operation soapAction="http://tempuri.org/GetFilesByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilesRestoreByUser">
      <soap:operation soapAction="http://tempuri.org/GetFilesRestoreByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectRowByID">
      <soap:operation soapAction="http://tempuri.org/SelectRowByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectRowByIDFromBin">
      <soap:operation soapAction="http://tempuri.org/SelectRowByIDFromBin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRowByID">
      <soap:operation soapAction="http://tempuri.org/DeleteRowByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRowByIDFromBin">
      <soap:operation soapAction="http://tempuri.org/DeleteRowByIDFromBin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertIntoBin">
      <soap:operation soapAction="http://tempuri.org/InsertIntoBin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertIntoTPFile">
      <soap:operation soapAction="http://tempuri.org/InsertIntoTPFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllFromBin">
      <soap:operation soapAction="http://tempuri.org/SelectAllFromBin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertTransaction">
      <soap:operation soapAction="http://tempuri.org/InsertTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowCusTransaction">
      <soap:operation soapAction="http://tempuri.org/ShowCusTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserIDExist">
      <soap:operation soapAction="http://tempuri.org/UserIDExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAccounts">
      <soap:operation soapAction="http://tempuri.org/GetAllAccounts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountByID">
      <soap:operation soapAction="http://tempuri.org/GetAccountByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStatus">
      <soap:operation soapAction="http://tempuri.org/UpdateStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserNameByID">
      <soap:operation soapAction="http://tempuri.org/GetUserNameByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UsernameExistInFile">
      <soap:operation soapAction="http://tempuri.org/UsernameExistInFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminLog">
      <soap:operation soapAction="http://tempuri.org/AdminLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAdminAccounts">
      <soap:operation soapAction="http://tempuri.org/GetAllAdminAccounts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdminLogs">
      <soap:operation soapAction="http://tempuri.org/GetAdminLogs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UsernameExistInAdminLog">
      <soap:operation soapAction="http://tempuri.org/UsernameExistInAdminLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnterQuestion">
      <soap:operation soapAction="http://tempuri.org/EnterQuestion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnterAnswer">
      <soap:operation soapAction="http://tempuri.org/EnterAnswer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQA">
      <soap:operation soapAction="http://tempuri.org/GetQA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CloudServiceSoap12" type="tns:CloudServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Register">
      <soap12:operation soapAction="http://tempuri.org/Register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UsernameExist">
      <soap12:operation soapAction="http://tempuri.org/UsernameExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PasswordMatch">
      <soap12:operation soapAction="http://tempuri.org/PasswordMatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserName">
      <soap12:operation soapAction="http://tempuri.org/GetUserName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserID">
      <soap12:operation soapAction="http://tempuri.org/GetUserID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectUserType">
      <soap12:operation soapAction="http://tempuri.org/SelectUserType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveFile">
      <soap12:operation soapAction="http://tempuri.org/SaveFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFile">
      <soap12:operation soapAction="http://tempuri.org/GetFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileByUserName">
      <soap12:operation soapAction="http://tempuri.org/GetFileByUserName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSingleFile">
      <soap12:operation soapAction="http://tempuri.org/GetSingleFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TPGetUserID">
      <soap12:operation soapAction="http://tempuri.org/TPGetUserID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccount">
      <soap12:operation soapAction="http://tempuri.org/GetAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAccount">
      <soap12:operation soapAction="http://tempuri.org/DeleteAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStorageCap">
      <soap12:operation soapAction="http://tempuri.org/UpdateStorageCap" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap12:operation soapAction="http://tempuri.org/UpdateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Register2">
      <soap12:operation soapAction="http://tempuri.org/Register2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UsernameExist2">
      <soap12:operation soapAction="http://tempuri.org/UsernameExist2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserName">
      <soap12:operation soapAction="http://tempuri.org/UpdateUserName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserEmail">
      <soap12:operation soapAction="http://tempuri.org/UpdateUserEmail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap12:operation soapAction="http://tempuri.org/ChangePassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Getfiles">
      <soap12:operation soapAction="http://tempuri.org/Getfiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCap">
      <soap12:operation soapAction="http://tempuri.org/UpdateCap" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilesByUser">
      <soap12:operation soapAction="http://tempuri.org/GetFilesByUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilesRestoreByUser">
      <soap12:operation soapAction="http://tempuri.org/GetFilesRestoreByUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectRowByID">
      <soap12:operation soapAction="http://tempuri.org/SelectRowByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectRowByIDFromBin">
      <soap12:operation soapAction="http://tempuri.org/SelectRowByIDFromBin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRowByID">
      <soap12:operation soapAction="http://tempuri.org/DeleteRowByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRowByIDFromBin">
      <soap12:operation soapAction="http://tempuri.org/DeleteRowByIDFromBin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertIntoBin">
      <soap12:operation soapAction="http://tempuri.org/InsertIntoBin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertIntoTPFile">
      <soap12:operation soapAction="http://tempuri.org/InsertIntoTPFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllFromBin">
      <soap12:operation soapAction="http://tempuri.org/SelectAllFromBin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertTransaction">
      <soap12:operation soapAction="http://tempuri.org/InsertTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShowCusTransaction">
      <soap12:operation soapAction="http://tempuri.org/ShowCusTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserIDExist">
      <soap12:operation soapAction="http://tempuri.org/UserIDExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAccounts">
      <soap12:operation soapAction="http://tempuri.org/GetAllAccounts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountByID">
      <soap12:operation soapAction="http://tempuri.org/GetAccountByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStatus">
      <soap12:operation soapAction="http://tempuri.org/UpdateStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserNameByID">
      <soap12:operation soapAction="http://tempuri.org/GetUserNameByID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UsernameExistInFile">
      <soap12:operation soapAction="http://tempuri.org/UsernameExistInFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AdminLog">
      <soap12:operation soapAction="http://tempuri.org/AdminLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllAdminAccounts">
      <soap12:operation soapAction="http://tempuri.org/GetAllAdminAccounts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAdminLogs">
      <soap12:operation soapAction="http://tempuri.org/GetAdminLogs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UsernameExistInAdminLog">
      <soap12:operation soapAction="http://tempuri.org/UsernameExistInAdminLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnterQuestion">
      <soap12:operation soapAction="http://tempuri.org/EnterQuestion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnterAnswer">
      <soap12:operation soapAction="http://tempuri.org/EnterAnswer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQA">
      <soap12:operation soapAction="http://tempuri.org/GetQA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CloudService">
    <wsdl:port name="CloudServiceSoap" binding="tns:CloudServiceSoap">
      <soap:address location="http://localhost:6499/CloudService.asmx" />
    </wsdl:port>
    <wsdl:port name="CloudServiceSoap12" binding="tns:CloudServiceSoap12">
      <soap12:address location="http://localhost:6499/CloudService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>